*.db
*.pyc
*ICENS*
COPY*
*CONTRIBU*
AUTH*
*PATCH*
*.txt
!CMakeLists.txt
Change*
CHANGE*
README*
asf4/
nxp*/
docs/
doc/
__pycache__/
*.vscode/
*.pio/
*.rst
# *.md
**/*/README*
LICENSE*
*.png
*.jpg
examples/**/*.yml
examples/**/*.md
**/CONTR*
**/CHANGE*
.gitmodules
**/.travis.yml
